html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,
fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
    border: 0;
}

.head{
    position: absolute;
    color: olivedrab;
    height: 100px;
    width: 100vw;
    background: url("/media/image/index/index.png");
    background-size: cover;
}
.head p{
    margin-top: 40px;
    margin-left: 40px;
}
.user_info{
    float: right;
    margin-right: 10%;
}
.user_info span{
    margin-right: 20px;
    color: orangered;
}
#changepass{
    margin-left: 20px;
    color: orangered;
}
#dialog{
    background-color: yellow;
}
#dialog p{
    color: orangered;
    text-align: center;
}
#dialog input{
    float: right;
}
#dialog button{
    margin-left: 50px;
    color: blue;
}
.content{
    margin-top: 100px;
    width: 100vm;
}