<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Title</title>
    <script src="/media/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/media/css/base.css">
</head>
<body>
<div style="position: absolute; width: 100%; height: 100%; overflow:hidden">
    <div class="head">
        <p>欢迎来到莫名其妙系统</p>
        <div class="user_info">
            <span>账号：{{ request.username }}</span>
            <span id="changepass">修改密码</span>
            <span><a href="/my/logout">退出</a></span>
        </div>
    </div>
    <dialog id="dialog">
        <p>修改密码</p>
        旧密码：<input id="old_pass"><br>
        新密码: <input id="new_pass"><br>
        确认密码: <input id="cure_pass"><br>
        <button id="sure_pass">确定</button><button id="cancel_pass">取消</button>
    </dialog>
    <div class="content">
        <div class="left">
                <dl class="dl1">
                    <dt>用户信息</dt>
                    <dt>所有信息</dt>
                    <dt>退出</dt>
                </dl>
                <dl class="dl2">
                    <dt>用户信息1</dt>
                    <dt>所有信息1</dt>
                    <dt>退出1</dt>
                </dl>
        </div>
    </div>
</div>
</body>
<script>
    $("#changepass").click(function () {
        $("#dialog").show();
    });
    $("#cancel_pass").click(function () {
       $("#dialog").hide();
    });

    $("#sure_pass").click(function () {
       var old_pass = $("#old_pass").val();
       var new_pass = $("#new_pass").val();
       var cure_pass = $('#cure_pass').val();
       if(old_pass == "" || new_pass == "" || cure_pass == ""){
           alert("请输入完整！")
           return
       };
       if (new_pass != cure_pass){
           alert("两次密码不一致!");
           return
       };
       $.post("/my/change_pass", {"username": name, "new_pass": new_pass, "old_pass": old_pass}, function (res) {
          if (res.response == "ok"){
              alert("修改成功");
              $("#dialog").hide();
          }else{
              alert(res.message);
          }
       })
    });


</script>
</html>